body{
  background-image: url("/media/p5bg.png");
  background-size: 100%;
  /*background-color: black;*/
}
#imageLocation{
    width:70%;
    height:50%;
}
.container{
  height: 95%;
  width: 55%;
  background-color: white;
  font-size: 100%;
  text-align: center;
  
  border: black 3px solid;
  border-radius: 15px;
}

#feedback{
  background-color: black;
  color: red;
  font-size: 30px;
  font-weight: bold;
}
